/* <!-- 1) შექმენით დივი, ჩაწერეთ შიგნით hello world, მიეცით მას ფერი, სხვადასხვა ზომის პადინგები და მარჯინები და ბორდერი. --> */
.hello-world-div {
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    margin: 30px;
    border: 5px solid black;
    font-size: 24px;
    text-align: center;
}
/* <!-- 2) შექმენით ყუთი ლურჯი ბორდერით 3px და სიგანე 200px --> */
.blue-border-box {
    width: 200px;
    height: 100px;
    border: 3px solid blue;
}
/* <!-- 3) შექმენით 3 სხვადასხვა ფერის წრე, ერთი და იგივე სიგანით და სიმაღლით --> */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue; 
}

/* <!-- 4) შექმენით სურათის ელემენტი და მიეცით მხოლოდ მარცხენა და ქვემოთა ბორდერი --> */
.bordered-image {
    width: 300px;
    height: auto;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
