/*საკლასო დავალება:

შექმენით html და css ფაილები, დააკავშირეთ ისინი ერთმანეთთან.

html-ის კოდში აიღეთ 3 პარაგრაფი, 3 ღილაკი და 3 მეორე დონის სათაური.

თქვენი დავალებაა, რომ პარაგრაფების და ღილაკების ტექსტის ფერი იყოს თეთრი და ფონის ფერი ყვითელი. მეორე დონის სათაურების განლაგება კი იყოს ცენტრში  */
body {
    background-color: yellow;
}

h2 {
    text-align: center;
    color: black;
}

p, button {
    color: white;
    background-color: yellow;
}
/* საკლასო დავალება:

html-ის კოდში შექმენით დივ ბლოკი და მასში ჩასვით 2 პარაგრაფი, 2 ღილაკი და 2 სათაური.

css-ის კოდში გაწერეთ შემდეგი კოდი:

ყველა ისეთი პარაგრაფი, რომელიც მოთავსებულია დივში, უნდა იყოს წითელი ფერის. 

ყველა ისეთი ღილაკი, რომელიც მოთავსებულია დივში, უნდა იყოს წითელი ფონის ფერით. 

ყველა ისეთი სათაური, რომელიც მოთავსებულია დივში, უნდა იყოს განლაგებული მარჯვნივ. */



div p {
    color: red;
}

div button {
    background-color: red;
}

div h1, div h2 {
    text-align: right;
}
